html, body {
  width: 100%;
  height: 100%;
}

body, #app {
  display: flex;
  flex: 1;
}

svg {
  flex: 9;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.column {
  flex-direction: column;
}
