html, body {
  width: 100vw;
  min-height: 100vh;
}

body, #app {
  display: flex;
  flex: 1;
}

svg {
  flex: 9;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.column {
  flex-direction: column;
}
